.projects{
    display: flex;
    align-items:  center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.projects .projects-title>h1{
    margin-top: 100px;
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 50px;

}
.project-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:30px;
}
.project{
    border:4px solid wheat;
    padding:50px;
    transition: 0.3s;
    border-radius: 20px;
    box-shadow: 1px 5px 2px 2px gray;
}
.project:hover{
    border-color: greenyellow;
    transform: scale(0.9);
    background-color: black;
    box-shadow: 1px 5px 5px 5px gray;

}
@media(max-width:768px){
    .projects .projects-title>h1{
        margin-top: 30px;
        font-size: 32px
    }
    .projects{
        flex-wrap: wrap;
    }
    .project{
        padding:30px;
        width: 30%;
        margin: 5px 15px;

    }
}
@media(max-width:576px){
   
    .project{
        padding:20px;
        width: 35%;
        margin: 5px 10px;
    }
    .project-container{
        gap:10px;
    }
}