
 .skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

 }
 .skills h1{
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 100px;
 }
 .container{
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 }
 .container h3{
    font-size: 35px;
    font-weight: 300;
    margin:30px;
    color:tomato
 }
 .container span{
    padding:15px 35px;
    background-color:black;
    margin:30px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 500;
    border:none
 }
 .container span:hover{
    border-bottom: 3px solid whitesmoke;
 }
 @media(max-width:768px){
    .skills h1{
        font-size: 50px;
        margin-top: 20px;
     }
     .container h3{
        font-size: 32px;
        margin:20px 0;
     }
     .container span{
        padding:10px 25px;
        margin:20px;
        font-size: 25px;
     }
    
 }
 @media(max-width:576px){
   
    .skills h1{
        font-size: 30px;
     }
     .container{
        justify-content: flex-start;
        align-items: flex-start;
     }
     .container h3{
        font-size: 22px;
        margin:15px 0;
     }
     .container span{
        padding:10px 25px;
        margin:15px;
        font-size: 15px;
        display: flex
        
     }
    
 }

 