.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:20px 100px ;
    position: fixed;
    background-color: #1F0016;
    padding: 20px 40px;
    gap:20px;
}
.navbar .name{
   font-size: 40px;
   font-weight: 500;
   background:linear-gradient(267deg, skyblue,brown,darkblue);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    transition: 0.3s;

}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, rgb(212, 122, 20),rgb(192, 87, 87),rgb(37, 8, 199));
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.anchor-link{
    color:white;
    text-decoration: none;

}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
    border-radius: 45px;
}
@media(max-width:1024px){
    .navbar .name{
        font-size: 20px;
    }
    .navbar{
        align-items: center;
        margin:20px 50px;
    }
}
@media(max-width:853px){
    .navbar{
        margin:10px 10px;
        padding:10px 10px;
    }
}
@media(max-width:768px){
    .navbar{
        margin: 10px 30px;
        background-color: inherit;
        position: relative;
    }
    .nav-mob-open{
        display: block;
        position:fixed;
        right: 30px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 20px;
        left:0px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top:0;
        gap:20px;
        background:#1F0016;
        width: 150px;
        height: 50%;
        z-index: 2;
        transition:right 0.5s;
        right: -350px;

    }
    .nav-menu li{
        font-size: 20px;
        padding-left: 40px;
        flex-direction: row;
        gap: 15px ;

    }
    .navbar .name{
        font-size: 20px;
    }
}
@media(max-width:576px){
    .nav-menu{
        height: 50%;
        width: 50%;
    }
    .nav-menu li{
        gap:20px;
    }

}